@font-face { 
    font-family: "MuseoSansCyrl100";
    src: url("../fonts/MuseoSansCyrl100/MuseoSansCyrl100.eot");
    src: url("../fonts/MuseoSansCyrl100/MuseoSansCyrl100.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansCyrl100/MuseoSansCyrl100.woff") format("woff"),
    url("../fonts/MuseoSansCyrl100/MuseoSansCyrl100.ttf") format("truetype");
    font-style: normal;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
}
html, body {height: 100%}
 div{
     box-sizing: border-box;
 }
.container{
 padding: 0; 
 margin:0 375px 0 375px;
 width: 1920px;  
 height: 100px;
}

.header img{
  float: left;
  margin-top: 15px;
}
.header{
    width: 1920px;
    height: 100px;
    padding-left: 375px;
    display: inline-block;
}

.form{
    width: 557px;
    height: 50px;
    padding: 0;
    margin: 0;
    float: right;
    margin-right: 375px;
    margin-top: 25px;
    margin-bottom: 25px;
}
form {
    width: 557px;
    height: 50px;
    padding: 0;
    margin: 0;
  }
form input{
    border: none;
    outline: none;
    width: 511px;
    height: 50px;
    float: left;
  }
input {
    height: 42px;
    background: #F3F3F3;
    padding-left: 15px;
  }
form button{
    border: none;
    outline: none;
    height: 50px;
    cursor: pointer;
    position: absolute;
    outline: none;
    background-color: #F3F3F3;
    padding-right: 30px;
}

.form button img{
    margin: 0;
}

.menu{
    width: 821px;
    height: 60px;
    margin: 0 550px;
    margin-top: -5px;
}

.menu ul li a:nth-child(2){
    padding-left: 0px;
}
.menu a {
    line-height: 1;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    width: auto;
    height: 62px;
    float: left;
    text-decoration: none; 
    color:#000000; 
    padding:20px 20px 20px 20px; 
    -moz-transition: all 0.3s 0.01s ease; 
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
  }
.menu a:hover {
    background: #E69A37;
    color: white;
    
  }
.menu a:focus {
    background: #323232;
    ;
    color: white;
  }
.menu ul{
    list-style: none; 
    margin: 0;
    padding: 0;
}
.menu ul li{
    display: inline;
}

a{
    font-size:18px;
}

.line{
    position: absolute;
    width: 1920px;
    left: 0px;
    top: 100px;
    opacity: 0.15;
    border: 1px solid #000000;

}

.slider{
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 9999;
}

.slider-list{
    margin: 0;
    padding: 0;
}

.slider img{
    width: 1920px;
    height: 670px;
    margin: 0;
    padding: 0;
}
.slider li{
    list-style: none; 
    margin: 0;
    padding: 0;
}
.btn1{
    position: relative;

}
.btn-f{
    position: absolute;
    width: 228px;
    height: 38px;
    left: 375px;
    top: 141px;
    background: #E69A37;
    border: none;
    color: white;
    padding: 0;
    font-family: Museo Sans Cyrl;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.2em;
}

.text-g{
    position: absolute;
    top:188px;
    left:375px;
    width: 650px;
    height: 204px;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 68px;
    color: #FFFFFF;
}

.text-g2{
    position: absolute;
    width: 650px;
    height: 112px;
    left: 375px;
    top: 412px;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
}

.slider-dots{
    position: absolute;
    width: 12px;
    height: 12px;
    left: 891px;
    top: 618px;
    background: #E69A37;
    cursor: pointer;
}

.slider-dots{
    position: absolute;
    width: 12px;
    height: 12px;
    left: 891px;
    top: 618px;
    background: #E69A37;
    cursor: pointer;
}

.slider-dots2{
    position: absolute;
    width: 12px;
    height: 12px;
    left: 918px;
    top: 618px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    cursor: pointer;
}

.slider-dots3{
    position: absolute;
    width: 12px;
    height: 12px;
    left: 945px;
    top: 618px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}

.slider-dots4{
    position: absolute;
    width: 12px;
    height: 12px;
    left: 972px;
    top: 618px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    cursor: pointer;
}

.slider-dots5{
    position: absolute;
    width: 12px;
    height: 12px;
    left: 999px;
    top: 618px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    cursor: pointer;
}

.sliderdot :hover{
    background-color: #FFFFFF;
}

 .bnt10{
     margin-left: 350px;
    width: 1170px;
    height: 120px;
    display: inline;
    position: relative;
    padding: 0;
 }
 .service{
     width: 234px;
     height: 100px;
     text-decoration: none;
     font-size: 14px;
    line-height: 20px;
    color: #323232;
    font-style: normal;
    font-weight: normal;
    border: none;
    background-color: white;
    padding: 0;
    cursor: pointer;
 }
 .service:hover{
     background-color: #F3F3F3;
 }
 .service img{
    width: 42px;
    height: 50px;
    position: relative;
 }
 .sr1{
    position: absolute;
    width: 129px;
    height: 40px;
    left: 454px;
    top: 872px;

font-family: Museo Sans Cyrl;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
color: #323232;
 }

p{
    padding: 0;
    margin: 0;
}
p:hover{
    text-decoration: underline;
}
.service img{
    float: left;
    margin-left: 30px;
    text-decoration: underline;
    cursor: pointer;
}

.service p{
    text-align: left;
    padding-left: 90px;
    padding-top: 5px;
}

@media(max-width:1920px){
    .div{
        max-width:1400px;
    }
}
@media (max-width:1399px) {
    .div{max-width: 1200px;
    }
}

@media (max-width:1199px) {
    .div{max-width: 992px;
        }
    }

@media (max-width:1199px) {
    .div{max-width: 992px;
        }
    }

@media (max-width:991px) {
    .div{max-width: 768px;
         }
    }

@media (max-width:767px) {
    .div{max-width: 576px;
           }
     }
            


 